/* Presets */
.swiper {
    width: 100%;
    height: 250px;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin-bottom: 10px;
}
/* ------------------------------------------ */

main{
    width: 100vw;
}

.Ultimos-Lancamentos, .Mais-Vendidos{
    display: flex;
    flex-direction: column;
}

.Ultimos-Lancamentos h2, .Mais-Vendidos h2{
    padding: 5px 0;
    background-color: var(--Color-White);
    color: var(--Color-Laranja);
    text-align: center;
}

.bloco-UL, .bloco-MV{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1em 0;
}

.Info, .Autora-Mes{
    box-shadow: 3px 3px 27px 3px rgba(0,0,0,0.35);
    background-color: var(--Color-White);
    border-radius: 8px;
    width: 90vw;
    padding: 1em;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 220px 80px;
    grid-template-areas:    "T M"
                            "I S";
    gap: 5px;
}

.Info .bl-01, .al-01{
    grid-area: T;
}

.Info .bl-02, .al-02{
    grid-area: M;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
}

.title-pri{
    font-size: 1em;
    color: var(--Color-Laranja);
}

.title-sec{
    font-size: 1.1em;
    color: var(--Color-Blue);
}

.bl-01, .al-01{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bl-01 p:last-child, .al-01 p:last-child{
    color: var(--Color-Black);
    padding-top: 10px;
}

.al-01 img{
    width: 40%;
}

.Info .imgs, .Autora-Mes .imgs{
    grid-area: I;
    display: flex;
    gap: 20px;
}
.Info .imgs, .Autora-Mes .imgs img{
    width: 40px;
    height: 40px;
}

.Info a, .Autora-Mes a{
    grid-area: S;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Info a, .Autora-Mes a{
    padding: 10px 0px;
    background-color: var(--Color-Laranja);
    color: var(--Color-White);
    justify-self: center;
    width: 100%;
}



@media screen and (min-width: 1024px){
    .Ultimos-Lancamentos h2, .Mais-Vendidos h2{
        padding-top: 2em;
    }
    .Info, .Autora-Mes{
        width: 60vw;
        padding: 2em;
        gap: 15px;
    }
    .swiper {
        width: 70vw;
        margin: 0 auto;
        height: 450px;
    }
    .swiper-button-prev, .swiper-button-next{
        display: inline-block;
    }
    .swiper-pagination{
        margin-bottom: 50px;
    }
    .bloco-UL, .bloco-MV{
        gap: 50px;
        padding: 1.5em 0;
    }
    
}

@media screen and (min-width: 1728px){
    .bloco-UL, .bloco-MV{
        width: 80vw;
        margin: 0 auto;
        /* flex-direction: row; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr; */
        gap: 40px;
        align-items: center;
    }
    .Info, .Autora-Mes{
        padding: 1em;
        width: 40vw;
        gap: 15px;
        grid-template-rows: 200px 40px;
        gap: 10px;
        height: 300px;
    }
    .swiper {
        width: 40vw;
        height: 450px;
    }
}
