@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@import url(/css/header.css);
@import url(/css/main.css);
@import url(/css/aside.css);
@import url(/css/footer.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --Font-Principal: 'Poppins', sans-serif;
    --Font-Logo: 'Josefin Sans', sans-serif;

    --Color-Linear: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);

    --Color-Laranja: #EB9B00;
    --Color-White: #fff;
    --Color-Cinza: #EBECEE;
    --Color-Black: #000;
    --Color-Blue: #002F52;
    --Color-Cinza-02: #474646;
}

body{
    font-family: var(--Font-Principal);
    background: var(--Color-Cinza);
}

/* Presets */




img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

/* Auto-Tags */

.none{
    display: none;
}

.uppercase{
    text-transform: uppercase;
}

.Case_pri{
    text-transform: capitalize;
}