.autora__mes{
    background-color: var(--Color-White);
    box-shadow: -1px 6px 17px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 200px 40px;
    grid-template-areas:    "T I"
    "IC B";
    row-gap: 10px;
    padding: 1rem;
    width: 90vw;
}